
.board {
  background: #fefeff;
  border: 1px solid #f2f2f4;
  border-radius: 4px;
  padding-top: 12px;
  padding-right: 12px;
  padding-left: 12px;
  width: 306px;
  margin-right: 16px;
  align-self: flex-start;
  box-sizing: border-box;
  margin-bottom: 20px;
}

h4 {
  height: 16px;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #5d6372;
}

h4.description {
  height: 20px;
  width: 100%;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #5d6372;
  margin-top: 4px;
}

.add-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  margin-top: 6px;
  cursor: pointer;
  width: 282px;
  height: 36px;
}

.add-wrapper p {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #2f3136;
}

.add-wrapper .img-wrapper {
  width: 16px;
  height: 16px;
}

.card-container {
  padding-top: 4px;
}

.no-task {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #b7bdc9;
  margin-bottom: 8px;
  margin-top: 24px;
}