
/* dialog */

.dialog{
  padding: 24px;
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 10;
  border: 1px solid #e4e4e8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.dialog-delete {
  width: 352px;
}

.dialog-manage-task {
  width: 600px;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
}

.dialog-header h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}

.dialog-delete p {
  margin: 16px 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #5d6372;
}

.dialog .button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.dialog button {
  padding: 8px 16px;
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

button.danger {
  background-color: #e53303;
  color: #fff;
}

button.clear {
  padding: 8px;
  color: #2f3136;
  margin-right: 16px;
}

button.primary {
  background: #5e20b3;
  color: #fff;
}

.close {
  cursor: pointer;
}

.form {
  margin-top: 16px;
}

.form-control {
  margin-bottom: 16px;
}

.form-control .label {
  margin-bottom: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #5d6372;
}

input {
  background: #ffffff;
  border: 1px solid #d6d6dd;
  border-radius: 4px;
  padding: 8px 12px;
  outline: inherit;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.5px;
  color: #b7bdc9;
}

input.block {
  box-sizing: border-box;
  display: block;
  width: 100%;
}

input.input-weight {
  width: 64px;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}
