.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 68px;
  background-color: #1a0931;
}

.sidebar img {
  margin: 20px;
}

.main-section {
  margin-top: 20px;
  margin-left: 50px;
}
