.container {
  display: flex;
  min-height: 100vh;
  background-color: #fefeff;
  position: relative;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: inherit;
  padding: 9.75px;
  color: #2f3136;
}

.sidebar {
  width: 68px;
  min-height: 100vh;
  background-color: #1a0931;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1;
  align-self: flex-start;
  /* position: fixed;
  left: 0;
  height: 100vh; */
}

.sidebar img {
  margin: 20px;
  height: 28px;
}

.main-section {
  margin-top: 20px;
  margin-left: 50px;
}

.main-section h1 {
  height: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.main-container {
  margin-top: 23px;
  margin-left: -2px;
  display: flex;
}

.board {
  background: #fefeff;
  border: 1px solid #f2f2f4;
  border-radius: 4px;
  padding-top: 12px;
  padding-right: 12px;
  padding-left: 12px;
  width: 306px;
  margin-right: 16px;
  align-self: flex-start;
  box-sizing: border-box;
  margin-bottom: 20px;
}

h4 {
  height: 16px;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #5d6372;
}

h4.description {
  height: 20px;
  width: 100%;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #5d6372;
  margin-top: 4px;
}

.add-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  margin-top: 6px;
  cursor: pointer;
  width: 282px;
  height: 36px;
}

.add-wrapper p {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #2f3136;
}

.add-wrapper .img-wrapper {
  width: 16px;
  height: 16px;
}

.card-container {
  padding-top: 4px;
}

.no-task {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #b7bdc9;
  margin-bottom: 8px;
  margin-top: 24px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 24px;
  z-index: 10;
  border: 1px solid #e4e4e8;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

/* dialog */

.dialog-delete {
  width: 352px;
}

.dialog-manage-task {
  width: 600px;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
}

.dialog-header h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}

.dialog-delete p {
  margin: 16px 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #5d6372;
}

.dialog .button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.dialog button {
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  margin-left: 16px;
}

button.danger {
  background-color: #e53303;
  color: #fff;
}

button.clear {
  padding: 8px;
  color: #2f3136;
}

button.primary {
  background: #5e20b3;
  color: #fff;
}

.close {
  cursor: pointer;
}

.form {
  margin-top: 16px;
}

.form-control {
  margin-bottom: 16px;
}

.form-control .label {
  margin-bottom: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #5d6372;
}

input {
  background: #ffffff;
  border: 1px solid #d6d6dd;
  border-radius: 4px;
  padding: 8px;
  outline: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

input::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #b7bdc9;
}

input.block {
  box-sizing: border-box;
  display: block;
  width: 100%;
}

input.input-weight {
  width: 64px;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}
