.container {
  display: flex;
  min-height: 100vh;
  background-color: #fefeff;
  position: relative;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: inherit;
  padding: 9.75px;
  color: #2f3136;
}

.sidebar {
  width: 68px;
  min-height: 100vh;
  background-color: #1a0931;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1;
  align-self: flex-start;
  /* position: fixed;
  left: 0;
  height: 100vh; */
}

.sidebar img {
  margin: 20px;
  height: 28px;
}

.main-section {
  margin-top: 20px;
  margin-left: 50px;
}

.main-section h1 {
  height: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.main-container {
  margin-top: 23px;
  margin-left: -2px;
  display: flex;
}